# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Django stuff
db.sqlite3
*.log
media/
staticfiles/

# Django migrations (optional ignore only if needed)
# */migrations/*.pyc

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db