{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Welcome {{ artisan.name }}</h1>
    <a href="/add-product/">
    <button class="btn-cart">Add New Product</button></a>
    <h3>Your Products</h3>
    <div class="products">
        {% for product in products %}
        <div class="card">
            <img src="{{ product.image.url }}">
            <h3>{{ product.name }}</h3>
            <p>₹ {{ product.price }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}